<footer id="footer">

    <section>
      <ul class="icons alt" style="margin-left:44%">
        <li><a href="https://github.com/merveyyildiz" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/merve-y%C4%B1ld%C4%B1z-6a486913a/" class="icon fa-linkedin" rel="nofollow"><span class="label">Linkedin</span></a></li>
         <li><a href="mailto:merve.yildiz41@hotmail.com" class="icon fa-envelope" rel="nofollow"><span class="label">Mail</span></a></li>
        
      </ul>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
    <ul><li><a href="mailto:merve.yildiz41@hotmail.com">&copy; MERVE YILDIZ</a></li></ul>
</div>
