<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "../index.html" | absolute_url }}">ANASAYFA</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "../_layouts/blog.html" | absolute_url }}">HAKKIMDA</a></li>
</ul>

<ul class="icons">
 
  <li><a href="https://www.linkedin.com/in/merve-y%C4%B1ld%C4%B1z-6a486913a/" class="icon fa-linkedin" rel="nofollow"><span class="label">Linkedin</span></a></li>
  <li><a href="https://github.com/merveyyildiz" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
